https://rubyonrails.org/assets/images/logo-basecamp.svg	
https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_92x30dp.png	
https://rubyonrails.org/assets/images/logo-twitch.svg
https://ruby-doc.org/images/logo-rubydoc.gif